.body-css{
    background-color: rgb(129, 217, 217);
}

h1{color: blue; size: 80px; text-align: center;}

h2{color: blue;}

p{font-size: 30px; margin: 10px;}

.card{
    max-width: 900px;
    margin: 20px;
    border: 2px solid #16c1e7;
    border-radius: 20px;
    background: linear-gradient(145deg, #4de0e5, #29bfcf);
    color: rgb(0, 1, 5);
    text-align: left;
    h3{color:#ff0000; font-size: 25px;}
}

.header{
    width: 100%;
    height: 100px;
    border: 2px solid #16c1e7;
    background: linear-gradient(145deg, #4de0e5, #29bfcf);
    color: rgb(9, 103, 175);
    text-align: center;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    font-size: 30px;
    font-weight: bolder;
}

.span-fix{
    font-size: 20px;
    color: rgb(5, 76, 255);
    font-weight: bolder;
}

.footer{
    width: 100%;
    height: 100px;
    border: 2px solid #16c1e7;
    background: linear-gradient(145deg, #4de0e5, #29bfcf);
    color: rgb(9, 103, 175);
    text-align: left;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;     /* Căn giữa theo chiều dọc */
    font-size: 20px;
    font-weight: bolder;
}